
#index-card{
    display: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

#exit-exam {
    display: none;
}

#dropdown-list {
    /**border: 1px solid gray;
    border-radius: 5px;*/
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    width: 200px;
    margin: 0;
    padding: 0;
}

#difficulty-list, #category-list {
   list-style-type: none;
    margin: 0;
    padding: 0;
}

#difficulty-list > li, #category-list > li{
    font-size: large;
    display: block;
    padding: 8px 0px;
}

#difficulty-list > li:hover, #category-list > li:hover{
    background-color: #0275d8;
}

#difficulty-list > li:hover button, #category-list > li:hover button{
    color:white;
}

.list-button{
    border:none;
    background: transparent;
    display:block;
    width: 100%;
}

